<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% 50.times do |h1| %>
    <h1> Esta es mi primera aplicación </h1>
  <%end%>

  </body>
</html>
